@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;500&display=swap');

html{
    font-family: 'Inter Tight';
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #98A2B3;
    opacity: 1; /* Firefox */
  }